<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<p>
  <% @event.sponsors.each do |sponsor| %>
    <%= sponsor.name %> <br/>
  <% end %>
</p>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Time </th>
      <th>End Time </th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @event.meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.start_time %></td>
        <td><%= meeting.end_time %></td>
        <td><%= meeting.location.name %></td>

      </tr>
    <% end %>
  </tbody>
</table>




<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
